language: java
jdk:
- oraclejdk8

sudo: false
install: true

script:
  - ./webapp/gradlew build

notifications:
  username:
    recipients:
      gu.ju@husky.neu.edu
      on_success: always 
      on_failure: always # default: always
