.error{
    color: red;
    font-size: 20px;
}
.user{
    color: blue;
    font-size: 15px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#img_input2 {
    display: none;
}
#img_label2 {
    background-color: #f2d547;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}
#preview_box2 img {
    width: 200px;
}