<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--<property password="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml"/>-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <!-- show parameters for hibernate sql -->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"
            level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"
            level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />-->



    <root level="INFO">
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>