<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<h1>&emsp;Login User could see this page.</h1>

<h3 th:text="| Welcome, valued user: ${loginUser}|">Login User: </h3>

<p th:text="| Date: ${currentTime}|">Date: </p>

<!--/*@thymesVar id="fileTemporaryPath" type="java.lang.String"*/-->
<!--img th:src="@{${fileTemporaryPath}}" th:height="320" th:width="200"/-->
<img th:src="@{${fileTemporaryPath}}" alt="Profile picture" th:width="480" th:height="320"/> <br/>
<p th:text="|The picture source link: ${fileTemporaryPath}|">Link:</p>


<br/>
<br/>
<h3>About Me</h3>
<!--/*@thymesVar id="aboutMeDescription" type="java.lang.String"*/-->
<p th:text="| ${aboutMeDescription} |"/>
<br/>

<form class="form-editPic"  action="/editProfile" method="get">
    &emsp;<input id="forwardUploadPicBtn" type="submit" value="Edit Profile" tabindex="1" />
</form>

<br/>
<br/>

<form class="form-logout"  action="/logout" method="post">
    &emsp;<input id="logoutBtn" type="submit" value="Logout" tabindex="1" />
</form>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>