<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
    <!--<h3 th:text="'Auth User: ' + ${name}"></h3>-->
    <h3>
        Welcome to CSYE6225 Spring 2018 Semester!
    </h3>
    <div th:if=" ${authState} == 'false' ">
        <p th:text="${userMsg}"/>
    </div>
    <h3>Final Presentation</h3>
</div>
<!--script type="text/javascript" src="6225Assign2.js"></script-->
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>


