<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div>
    &emsp;&emsp;<a ref="index">Home</a>
</div>
<div id="cm-form">
    <form class="form-login"  action="/login-check" method="post">
        <fieldset>
            <legend>&emsp;Login</legend>
            <dl>
                <dt>
                    &emsp;&emsp;
                    <label for="app_username" id="userEmail">email:</label>
                    <input type="text" name="app_username" tabindex="1"
                           maxlength="55" placeholder="Email Address" />
                </dt>
                <dt>
                    &emsp;&emsp;
                    <label for="app_password" id="passWord">password:</label>
                    <input type="password" name="app_password" tabindex="2"
                           maxlength="16" placeholder="Password:8-16chars" />
                </dt>
                &emsp;&emsp;
                <input id="subBtn" type="submit" value="Login" tabindex="3" />
            </dl>
        </fieldset>
    </form>
    <form class="form-reset" action="/resetPassword" method="post">
        <label for="user_pwreset" id="resetPw">Email to send Reset Link:</label>
        <input type="text" name="user_pwreset" tabindex="1" maxlength="55" placeholder="Email Address" /> <br/>
        <input id="rstBtn" type="submit" value="ResetRequest" tabindex="4" />

    </form>
</div>
<!--script type="text/javascript" src="6225Assign2.js"></script-->
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
