<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<h2>&emsp;Login user uploads a picture for your profile.</h2>

<input id="img_input2" type="file" accept="image/*"/>
<label for="img_input2" id="img_label2">Select File
    <i class="fa fa-plus fa-lg"></i></label>
<div id="preview_box2"></div>

<form class="form-upload"  action="/upload" method="post">
    &emsp;<input id="uploadBtn" type="submit" value="Upload" tabindex="1" />
</form>

<form class="form-delete"  action="/deletePic" method="post">
    &emsp;<input id="deletePicBtn" type="submit" value="DeletePicture" tabindex="2" />
</form>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>